*{
    
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#Cabecera{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a6457;
}

#cont-img img{
    width: 150px;
    
}

#cont-cent{
    justify-content: center;
}

#cont-buscar{
    display: flex;
    justify-content: center;
}

#cont-buscar input{
    background-color: rgb(223, 221, 219);
    border: none;
}

#tit-cab{
    color: white;

}

#navbar{
   margin: auto;
   width: 100%;
}

#menu{
    display: inline-flex;
}