*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.Cabecera{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 139, 94);
}

#cont-img img{
    width: 200px;
    margin: 5px 5px;
}
#lupa{
    width: 20px;
}

#carrito{
    width: 80px;
    margin: 10px;
}
#cont-cent{
    color: white;
    
}

#cont-tit h1{
    font-size: 60px;
}

#cont-buscar{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#cont-buscar input{
    background-color: rgb(223, 221, 219);
    border: none;
}



#navbar{
   width: 100%;
   justify-content: space-around;
}

#menu{
    display: inline-flex;
    
}

#img-bienv{
    width: 100%;
}

footer{
    display: flex;
    background-color: wheat;
    justify-content: center;
    align-items: flex-end;
}

#cont-categ{
    display: flex;
    justify-content: space-around;
    
}

.tarjetas h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas img{
    width: 200px;
}