*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height:100%
}

#Cabecera{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 139, 94);
}

#cont-img img{
    width: 200px;
    margin: 5px 5px;
}
#lupa{
    width: 20px;
}

#carrito{
    width: 80px;
    margin: 10px;
}
#cont-cent{
    color: white;
    
}

#cont-tit h1{
    font-size: 60px;
}

#cont-buscar{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#cont-buscar input{
    background-color: rgb(223, 221, 219);
    border: none;
}



#navbar{
    width: 100%;
    
       
}

#menu{
    display: inline-flex;
    
}

#menu li{
    list-style: none;
}

#menu a{
    color: rgb(134, 91, 72);
    text-decoration: none;
    padding: 0px 20px;
    font-weight: bold;
}

#menu a:hover{
    background: rgba(58, 3, 24, 0.329);    
}


#img-bienv{
    width: 100%;
}

footer{
    font-weight: bold;
    background-color: wheat;  
    
}

#cont-footer{
    padding: 20px;
    text-shadow: 0 0 0.2em rgb(223, 80, 45), 
                0 0 0.2em rgb(223, 80, 45),
		        0 0 0.2em rgb(223, 80, 45)
}

#cont-categ{
    display: flex;
    justify-content: space-around;
    
}

.tarjetas h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas img{
    width: 200px;
}

#cont-redes{
    margin-left: 70%;
}

#redes img{
    width: 40px;
}

#contac{
    margin-left: 43%;
}

#by{
    display: flex;
    justify-content: center;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}
